.cover-bg {
    /* position: absolute; */
    width: 100%;
    height: auto;
    margin-top: 0;
    z-index: 0;
    overflow: hidden;
}

.cover-bg:hover {
    /* transition: opacity 0.3s;  */
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover-bg {
        width: auto;    
        height: 563px;
    }
}

@media screen and (max-width: 768px) {
    .cover-bg {
        height: 518px;
    }
}

@media screen and (max-width: 375px) {
    .cover-bg {
        height: 272px;
    }
}

@media screen and (max-width: 320px) {
    .cover-bg {
        height: 216px;
    }
}

 